$title-color: #0b3a42;

$gray01: #f5f7fa;
$gray02: #e7ecf4;
$gray03: #f6f8fb;
$gray04: #eef2f7;

$blue01: #455c7d;
$blue02: #697d9a;
$blue03: #6a7d9b;
$blue04: #b2c2d6;
$blue05: #b9c9de;
$blue06: #9db0cb;

$arvan-color: #20c5ba;
$arvan-color02: #00baba;
$arvan-color03: #0e7571;
$arvan-color04: #155a6d;
$arvan-color05: #caf1f1;
$arvan-color06: #042623;

$dark-red: #585858;
