@font-face {
  font-family: 'YekanBakh';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/YekanBakh-Medium/YekanBakh-Medium.eot');
  src: url('../fonts/YekanBakh-Medium/YekanBakh-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/YekanBakh-Medium/YekanBakh-Medium.woff2') format('woff2'),
    url('../fonts/YekanBakh-Medium/YekanBakh-Medium.woff') format('woff'),
    url('../fonts/YekanBakh-Medium/YekanBakh-Medium.ttf') format('truetype'),
    url('../fonts/YekanBakh-Medium/YekanBakh-Medium.svg#svgFontName')
      format('svg');
}

@font-face {
  font-family: 'YekanBakh';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/YekanBakh-Bold/YekanBakh-Bold.eot');
  src: url('../fonts/YekanBakh-Bold/YekanBakh-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/YekanBakh-Bold/YekanBakh-Bold.woff2') format('woff2'),
    url('../fonts/YekanBakh-Bold/YekanBakh-Bold.woff') format('woff'),
    url('../fonts/YekanBakh-Bold/YekanBakh-Bold.ttf') format('truetype'),
    url('../fonts/YekanBakh-Bold/YekanBakh-Bold.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'YekanBakh';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/YekanBakh-Heavy/YekanBakh-Heavy.eot');
  src: url('../fonts/YekanBakh-Heavy/YekanBakh-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/YekanBakh-Heavy/YekanBakh-Heavy.woff2') format('woff2'),
    url('../fonts/YekanBakh-Heavy/YekanBakh-Heavy.woff') format('woff'),
    url('../fonts/YekanBakh-Heavy/YekanBakh-Heavy.ttf') format('truetype'),
    url('../fonts/YekanBakh-Heavy/YekanBakh-Heavy.svg#svgFontName')
      format('svg');
}
