@import 'fonts';
@import 'colors';

body {
	font-family: 'YekanBakh', sans-serif;
	font-weight: 500;
	direction: rtl;
	text-align: right;
}

.select-box {
	position: relative;

	&__current {
		width: 100%;
		background-color: $gray01;
		border: 0;
		border-radius: 12px;
		padding: 7.5px 16px 7.5px 40px;
		position: relative;
		cursor: pointer;
		color: $blue06;
		font-size: 16px;
		font-weight: 500;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		border: 2px solid transparent;
	}

	&__current--white {
		background-color: white;
	}

	&__current--open {
		color: $blue01;
		border: 2px solid $arvan-color;
	}

	&__arrow {
		background: url(../images/arrow.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 12px;
		height: 8px;
		left: 16px;
		top: 16px;
		transform: rotate(0deg);
		transition: transform 0.3s;
	}

	&__arrow--open {
		top: 12.8px;
		transform: rotate(180deg);
	}

	&__arrow--active {
		top: 12.8px;
		transform: rotate(180deg);
	}

	&__arrow--active + span {
		color: $blue01;
	}

	&__list {
		transition: all 0.5s;
		padding: 14px 8px;
		background: white;
		margin: 8px auto;
		border-radius: 12px;
		display: none;
		position: absolute;
		z-index: 1000;
		list-style: none;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
		width: 100%;
		right: 0;
		left: 0;
	}

	&__list--open {
		display: block;
	}

	&__list-item {
		padding: 7.5px 15px;
		border-radius: 12px;
		cursor: pointer;
		color: $blue01;
		font-size: 16px;
	}

	&__list-item:last-child {
		margin-bottom: 0;
	}

	&__list-item:hover {
		background-color: $gray01;
	}

	&__list-item--active {
		background-color: $gray01;
	}
}
