@import 'custom';
@import '~bootstrap/scss/bootstrap';

@import 'globals';

.salary-details {
	background-color: $gray01;
	padding: 80px 0;

	&__title {
		display: flex;
		align-items: center;
		color: $title-color;
		padding-bottom: 15px;

		h3 {
			margin-bottom: 0;
			font-size: 24px;
		}

		svg {
			margin-left: 16px;
		}
	}

	&__text {
		color: $arvan-color04;
		font-size: 14px;
		line-height: 22px;
	}

	&__in-arvan {
		padding-bottom: 60px;
	}

	&__calc {
		padding-top: 15px;
		padding-bottom: 88px;
	}

	&__calc-wrapper {
		background-color: white;
		padding: 36px 0;
		margin-top: 24px;
		border-radius: 16px;
	}

	&__calc-left-box {
		padding: 0 16px;
	}

	&__calc-title {
		font-size: 20px;
		font-weight: 600;
		position: relative;
		padding-right: 20px;
		color: $arvan-color04;
	}

	&__calc-title::before {
		content: '';
		position: absolute;
		background-color: $arvan-color;
		width: 4px;
		height: 32px;
		right: 0;
		top: -4px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	&__calc-text {
		color: $arvan-color04;
		font-size: 14px;
		line-height: 22px;
		margin-top: 12px;
		padding: 0 20px;
	}

	&__calc-select-position {
		margin: 25px 0 30px 0;
		border: 0;
		border-radius: 12px;
		padding: 12px 16px;
		width: 100%;

		.select-box__list {
			width: calc(100% - 32px);
			height: 400px;
			overflow: auto;
		}
	}

	&__calc-ranks {
		margin: 25px 0 0 0;
		border: 0;
		border-radius: 12px;
		padding: 12px 16px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__calc-rank {
		background-color: $gray01;
		display: inline-block;
		border: none;
		padding: 10px 16px;
		border-radius: 12px;
		width: calc(50% - 8px);
		margin-bottom: 16px;
		font-size: 16px;
		color: $blue02;
		border: 2px solid transparent;
		box-shadow: none;
		transition: all 0.15s ease-in-out;
	}

	&__calc-rank:disabled {
		cursor: not-allowed;
		color: $blue05;
	}

	&__calc-rank--active {
		border: 2px solid $arvan-color;
		color: $arvan-color;
		background-color: white;
		box-shadow: 0 15px 8px -13px rgb(0 0 0 / 16%);
	}

	&__calc-btn {
		background-color: $arvan-color;
		border: none;
		width: 100%;
		color: white;
		border-radius: 12px;
		font-size: 20px;
		font-weight: 600;
		padding: 9px 0;
		margin-bottom: 40px;
	}

	&__salary-box {
		border-radius: 16px;
		background-color: $gray01;
		height: 104px;
		padding-top: 16px;
		text-align: center;
		font-size: 16px;
		color: $arvan-color04;
		margin-bottom: 16px;

		b {
			color: $arvan-color;
			font-weight: 700;
		}
	}

	&__salary-amount {
		font-size: 24px;
		color: $arvan-color;
		font-weight: 600;

		b {
			font-size: 32px;
			font-weight: 700;
		}
	}

	&__calc-notice {
		color: $arvan-color02;
		font-size: 16px;
		display: flex;
		margin-top: 24px;

		span {
			flex: 1;
			margin-right: 16px;
			line-height: 25px;
		}
	}

	&__transparency {
	}

	&__transparency-select-position {
		margin-top: 16px;
	}

	&__transparency-average-salary-table {
		display: none;
	}

	&__transparency-average-salary {
		color: $arvan-color04;
		background-color: white;
		border-radius: 16px;
		border: 2px solid $arvan-color;
		text-align: center;
		font-size: 16px;
		margin-top: 32px;
		height: 104px;
		padding-top: 14px;
	}

	&__text-box {
		background-color: white;
		color: $arvan-color04;
		font-size: 16px;
		border-radius: 16px;
		position: relative;
		padding: 16px;
		margin: 16px 0 24px;
		line-height: 32px;

		a {
			text-decoration: underline;
			color: $arvan-color;
		}

		a:hover {
			color: $arvan-color03;
		}
	}

	&__text-box::before {
		content: '';
		position: absolute;
		background-color: $arvan-color;
		width: 4px;
		height: 32px;
		right: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	@media (min-width: 576px) {
		padding: 128px 0;

		&__title {
			h3 {
				font-size: 28px;
				line-height: 60px;
			}
		}

		&__text {
			font-size: 16px;
			line-height: 26px;
		}

		&__calc-title {
			font-size: 22px;
		}

		&__calc-text {
			font-size: 15px;
			line-height: 24px;
		}
	}

	@media (min-width: 768px) {
		&__calc-ranks {
			display: flex;
			justify-content: space-between;
		}

		&__calc-rank {
			width: calc(33.33% - 10.5px);
			margin-bottom: 10px;
		}

		&__calc-left-box {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__calc-btn {
			width: 40%;
			padding: 13px;
			margin-bottom: 24px;
		}

		&__salary-boxes {
			display: flex;
			justify-content: space-around;
			width: 100%;
		}

		&__salary-box {
			width: 48%;
			margin-bottom: 16px;
		}

		&__calc-notice {
			margin-top: 24px;

			span {
				color: $arvan-color04;
			}
		}

		&__transparency-select-position {
			display: none;
		}

		&__transparency-average-salary-table {
			color: $arvan-color04;
			background-color: white;
			padding: 30px;
			display: block;
			margin-top: 20px;
			border-radius: 16px;
			margin-top: 32px;
		}

		&__transparency-average-salary-table-head {
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;
		}

		&__transparency-average-salary-table-head-right {
			position: relative;
			font-size: 18px;
			font-weight: 600;
			padding-right: 18px;
		}

		&__transparency-average-salary-table-head-left {
			position: relative;
			font-size: 18px;
			font-weight: 600;
		}

		&__transparency-average-salary-table-head-right::before {
			background-color: $arvan-color;
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 40px;
			right: 0;
			top: 8px;
		}

		&__transparency-average-salary-table-head-left::before {
			background-color: $arvan-color;
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 40px;
			right: -18px;
			top: 8px;
		}

		&__transparency-average-salary-table-item {
			display: flex;
			flex-direction: column;
		}

		&__transparency-average-salary-table-row {
			background-color: $gray03;
			display: flex;
			justify-content: space-between;
			padding: 16px 24px 12px 56px;
			border-radius: 12px;
			margin-bottom: 16px;
			font-size: 17px;
			line-height: 28px;
			min-height: 56px;

			span:first-child {
				max-width: 78%;
			}
		}
	}

	@media (min-width: 992px) {
		&__title {
			h3 {
				font-size: 40px;
				line-height: 62px;
			}
		}

		&__text {
			font-size: 18px;
			line-height: 28px;
		}

		&__calc-wrapper {
			display: flex;
			justify-content: space-between;
			background-color: transparent;
			padding: 0;
			margin-top: 49px;
		}

		&__calc-title {
			font-size: 24px;
		}

		&__calc-title::before {
			top: 0;
		}

		&__calc-text {
			font-size: 18px;
			line-height: 28px;
			color: $blue02;
		}

		&__calc-right-box {
			background-color: white;
			border-radius: 16px;
			padding: 25px 0 5px 0;
			width: 59%;
		}

		&__calc-left-box {
			background-color: white;
			border-radius: 16px;
			padding: 28px 16px;
			width: 39%;
		}

		&__salary-boxes {
			flex-direction: column;
			justify-content: center;
		}

		&__salary-box {
			width: 100%;
		}

		&__salary-box:last-child {
			margin-bottom: 0;
		}

		&__calc-btn {
			width: 100%;
			margin-bottom: 24px;
		}

		&__salary-amount {
			margin-top: 0;
		}

		&__transparency-average-salary-table {
			padding: 56px 96px;
			display: block;
		}

		&__transparency-average-salary-table-right {
			position: relative;
			font-size: 20px;
			font-weight: 600;
			padding-right: 18px;
		}

		&__transparency-average-salary-table-left {
			position: relative;
			font-size: 20px;
			font-weight: 600;
		}

		&__transparency-average-salary-table-right::before {
			background-color: $arvan-color;
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 40px;
			right: 0;
			top: 9px;
		}

		&__transparency-average-salary-table-left::before {
			background-color: $arvan-color;
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 40px;
			right: -18px;
			top: 9px;
		}

		&__transparency-average-salary-table-item {
			display: flex;
			flex-direction: column;
		}

		&__transparency-average-salary-table-row {
			font-size: 18px;

			span:first-child {
				max-width: 78%;
			}
		}
	}

	@media (min-width: 1200px) {
		&__calc-right-box {
			padding: 32px 0 26px;
			width: calc(62.5% - 16px);
		}

		&__calc-left-box {
			padding: 32px 30px;
			width: calc(37.5% - 16px);
		}

		&__calc-title {
			padding-right: 40px;
		}

		&__calc-text {
			padding-right: 40px;
		}

		&__calc-select-position {
			padding: 0 40px;
		}

		&__calc-ranks {
			padding: 0 40px;
		}

		&__calc-select-position {
			.select-box__list {
				width: calc(100% - 80px);
			}
		}
	}
}

.salary-average {
	background-color: $gray04;
	padding: 80px 0;

	&__heading {
		font-size: 24px;
		color: $title-color;
		margin-bottom: 16px;
	}

	&__text {
		color: $arvan-color04;
		font-size: 14px;
		line-height: 22px;
	}

	&__img {
		display: flex;
		justify-content: center;
		margin-top: 26px;

		svg {
			max-width: 400px;
		}
	}

	@media (min-width: 576px) {
		padding: 128px 0;

		&__heading {
			font-size: 28px;
			margin-bottom: 30px;
		}

		&__text {
			font-size: 16px;
			line-height: 26px;
		}
	}

	@media (min-width: 768px) {
		&__heading {
			font-size: 40px;
			line-height: 62px;
		}

		&__text {
			font-size: 18px;
			line-height: 24px;
		}

		&__img {
			svg {
				max-width: 450px;
			}
		}
	}

	@media (min-width: 992px) {
		&__wrapper {
			display: flex;
			align-items: center;
		}

		&__paragraphs {
			flex: 1;
		}

		&__img {
			width: 372px;
			margin-top: 0;
			margin-right: 16px;
		}
	}

	@media (min-width: 1200px) {
		&__text:nth-of-type(1) {
			width: 89%;
		}

		&__img {
			width: 501px;
			height: 399px;

			svg {
				max-width: 100%;
			}
		}
	}
}

.salary-factors {
	background-color: white;
	padding: 80px 0;

	&__title {
		display: flex;
		color: $title-color;
		padding-bottom: 15px;

		h3 {
			margin-bottom: 0;
			font-size: 24px;
			line-height: 37px;
		}

		svg {
			margin-left: 16px;
			min-width: 45px;
			min-height: 45px;
		}
	}

	&__text {
		color: $arvan-color04;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 24px;
	}

	&__tabs {
		overflow: auto;
		display: flex;
		margin-bottom: 40px;
		padding: 0;
	}

	&__tab {
		cursor: pointer;
		background-color: rgb(0, 186, 186, 0.1);
		color: $arvan-color02;
		font-size: 16px;
		text-align: center;
		border-radius: 12px;
		min-width: 150px;
		padding: 8px 15px;
		margin-left: 8px;
	}

	&__tab--active {
		background-color: $arvan-color02;
		color: white;
	}

	&__box {
		position: relative;
		padding: 32px 24px;
		border: 2px solid $arvan-color;
		border-radius: 16px;
		box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 16%);
	}

	&__box-title {
		color: $arvan-color04;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__box-title::before {
		content: '';
		position: absolute;
		background-color: $arvan-color;
		width: 4px;
		height: 32px;
		right: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	&__box-text {
		font-size: 14px;
		color: $arvan-color04;
		line-height: 22px;
	}

	&__box-content {
		display: none;
	}

	&__box-content--active {
		display: block;
	}

	&__rank {
		display: none;
	}

	&__rank-mobile {
		display: block;
	}

	&__rank-box {
		border: 1px solid $gray02;
		border-radius: 16px;
		display: none;
	}

	&__rank-box--active {
		display: block;
	}

	&__rank-box-item {
		display: flex;
		justify-content: space-between;
		padding: 14px 20px;
		align-items: center;
		color: $arvan-color06;
		border-bottom: 1px solid $gray02;

		span {
			background: $arvan-color;
			width: 68px;
			height: 32px;
			text-align: center;
			color: white;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__rank-box-item:last-child {
		border-bottom: 0;
	}

	&__position-details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $blue01;

		span {
			color: $arvan-color;
			width: 105px;
			height: 40px;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid $arvan-color;
			border-radius: 12px;
			box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 16%);
		}
	}

	&__difficult-job-position {
		border: 2px solid $arvan-color;
		border-radius: 12px;
		background-color: white;
		padding: 16px 17px;
		box-shadow: 0 6px 10px 0 rgb(0 0 0 / 16%);
		color: $blue02;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
		margin-top: 18px;
	}

	&__difficult-job-position-title {
		border-bottom: 1px solid $gray02;
		margin-bottom: 4px;
		padding-bottom: 11px;
	}

	&__difficult-job-position-text {
		color: $arvan-color;
		font-size: 24px;
		display: flex;
		justify-content: space-between;
	}

	&__line {
		display: none;
	}

	&__loyalty {
		display: none;
	}

	&__loyalty-details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $blue01;

		span {
			color: $arvan-color;
			width: 105px;
			height: 40px;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid $arvan-color;
			border-radius: 12px;
			box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 16%);
		}
	}

	@media (min-width: 576px) {
		padding: 128px 0;

		&__title {
			align-items: center;

			h3 {
				font-size: 28px;
				line-height: 42px;
			}
		}

		&__box-title {
			font-size: 23px;
		}

		&__box-text {
			font-size: 15px;
			line-height: 24px;
		}

		&__position-details {
			font-size: 18px;
		}

		&__difficult-job-positions {
			padding: 0 80px;
		}

		&__loyalty-details {
			font-size: 18px;
		}
	}

	@media (min-width: 768px) {
		&__title {
			h3 {
				font-size: 40px;
				line-height: 62px;
			}
		}

		&__difficult-job-positions {
			padding: 0 160px;
		}
	}

	@media (min-width: 992px) {
		&__line {
			display: block;
			height: 2px;
			background-color: rgb(157, 176, 203, 0.2);
			width: 100%;
			margin-bottom: 56px;
		}

		&__tabs {
			margin-bottom: 0;
			margin-top: 56px;
			display: flex;
			justify-content: space-between;
			overflow: unset;
			padding: 0 96px;
		}

		&__tab {
			color: $blue06;
			background-color: transparent;
			min-width: auto;
			position: relative;
			padding: 8px 4px;
			font-size: 18px;
		}

		&__tab--active {
			color: $arvan-color06;
		}

		&__tab--active::before {
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			border: 1.25px solid $arvan-color;
			background-color: $arvan-color;
			position: absolute;
			bottom: -2px;
			right: 0;
			z-index: 1;
			border-radius: 100px;
		}

		&__box {
			padding: 36px 64px;
		}

		&__box-title {
			color: $title-color;
			font-size: 24px;
			margin-bottom: 16px;
		}

		&__box-title::before {
			display: none;
		}

		&__box-text {
			position: relative;
			padding-right: 18px;
			font-size: 16px;
			color: $blue03;
		}

		&__box-text::before {
			background-color: $arvan-color;
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 40px;
			right: 0;
			top: 7px;
		}

		&__rank-mobile {
			display: none;
		}

		&__rank {
			color: $blue06;
			display: block;
			margin: 34px 0 162px;
			padding: 0 18px;
		}

		&__ranks-line {
			border-bottom: 2px solid $gray02;
			display: flex;
			justify-content: space-between;
		}

		&__rank-item {
			position: relative;
			padding-bottom: 8px;
			display: flex;
			justify-content: center;
			width: 100px;
			cursor: pointer;
		}

		&__rank-item::before {
			content: '';
			background-color: white;
			border: 1.5px solid $blue04;
			width: 14.5px;
			height: 14.5px;
			border-radius: 100px;
			position: absolute;
			bottom: 0;
			bottom: -8px;
		}

		&__rank-item:first-child {
			justify-content: flex-start;

			span {
				position: relative;
				left: 15px;
			}
		}

		&__rank-item:last-child {
			justify-content: flex-end;

			span {
				position: relative;
				right: 25px;
			}
		}

		&__rank-item--active {
			color: $arvan-color02;
		}

		&__rank-item--active > &__rank-sublist {
			display: block;
		}

		&__rank-item--active::after {
			background-color: $arvan-color02;
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 40px;
			bottom: -4px;
		}

		&__rank-item--active::before {
			border: 2px solid $arvan-color02;
			width: 16px;
			height: 16px;
		}

		&__rank-sublist {
			border: 2px solid $arvan-color;
			padding: 10px 16px;
			position: absolute;
			top: 67.2px;
			right: 17px;
			border-radius: 12px;
			display: none;
			cursor: default;
		}

		&__rank-sublist:first-child {
			right: -25px;
		}

		&__rank-sublist::before {
			content: '';
			width: 2px;
			height: 28px;
			background-color: $arvan-color;
			display: block;
			position: absolute;
			top: -30px;
			right: 30px;
		}

		&__rank-sublist-item {
			color: $arvan-color06;
			border-bottom: 1px solid $gray02;
			display: flex;
			justify-content: space-between;
			min-width: 150px;
			padding: 3.2px;
			align-items: center;
		}

		&__rank-sublist-item:last-child {
			border-bottom: 0;
		}

		&__rank-sublist-item-num {
			background: $arvan-color;
			width: 43px;
			height: 32px;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
		}

		&__rank-item--active:first-child::after {
			right: 4px;
		}

		&__rank-item--active:first-child &__rank-sublist {
			right: -25px;
		}

		&__rank-item--active:last-child::after {
			left: 4px;
		}

		&__rank-item--active:last-child &__rank-sublist {
			right: unset;
			left: -30px;
		}

		&__rank-item--active:last-child &__rank-sublist::before {
			left: 35px;
			right: unset;
		}

		&__position {
			display: flex;
			justify-content: space-between;

			.select-box {
				width: 60%;
			}
		}

		&__position-details {
			div {
				margin-left: 18px;
			}
		}

		&__difficult-job-positions {
			margin: 30px 0 60px;
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			padding: 0;
		}

		&__difficult-job-position {
			width: 23.83%;
			margin-top: 0;
			background-color: $gray03;
			padding: 24px 0;
			border: none;
			box-shadow: none;
			max-height: 72px;
			cursor: pointer;
			font-size: 16px;
		}

		&__difficult-job-position--active {
			border: 2px solid $arvan-color;
			background-color: white;
			box-shadow: 0 6px 10px 0 rgb(0 0 0 / 16%);
			padding: 24px 24px 10px;
			max-height: 106px;
			cursor: default;
		}

		&__difficult-job-position-title {
			border-bottom: none;
			margin-bottom: unset;
			padding-bottom: unset;
		}

		&__difficult-job-position-title--active {
			border-bottom: 1px solid $gray02;
			margin-bottom: 4px;
			padding-bottom: 6px;
		}

		&__difficult-job-position-text {
			display: none;
		}

		&__difficult-job-position-text--active {
			display: flex;
		}

		&__loyalty-mobile {
			display: none;
		}

		&__loyalty {
			color: $blue06;
			display: block;
			margin: 88px 0 60px 0;
			padding: 0 15px;
		}

		&__loyalty-line {
			border-top: 2px solid $gray02;
			display: flex;
			justify-content: space-between;
		}

		&__loyalty-line-item {
			position: relative;
			padding-top: 10px;
			display: flex;
			justify-content: center;
			width: 100px;
			cursor: pointer;
			span {
				color: $blue02;
			}
		}

		&__loyalty-line-item:before {
			content: '';
			background-color: white;
			border: 2px solid $blue06;
			width: 12px;
			height: 12px;
			border-radius: 100px;
			position: absolute;
			top: -7px;
		}

		&__loyalty-line-item--active:before {
			border: 1px solid $arvan-color;
		}

		&__loyalty-line-item--active:after {
			background-color: $arvan-color02;
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			border-radius: 40px;
			top: -4px;
		}

		&__loyalty-coefficient {
			display: none;
		}

		&__loyalty-coefficient::before {
			content: '';
			width: 1px;
			height: 15px;
			position: absolute;
			background-color: $arvan-color;
			bottom: -15px;
			left: 29px;
		}

		&__loyalty-line-item--active &__loyalty-coefficient {
			display: block;
			position: absolute;
			top: -53px;
			background-color: $arvan-color;
			color: white;
			padding: 4px 0;
			border-radius: 12px;
			width: 60px;
			text-align: center;
			cursor: default;
		}
	}

	@media (min-width: 1200px) {
		&__box {
			padding: 56px 96px;
		}
	}
}

.salary-formula {
	background-color: $gray01;
	padding: 80px 0;

	&__title {
		color: $title-color;
		display: flex;
		align-items: center;
		padding-bottom: 15px;

		h3 {
			margin-bottom: 0;
			font-size: 24px;
			line-height: 37px;
		}

		svg {
			margin-left: 16px;
		}
	}

	&__text {
		color: $arvan-color04;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 24px;
	}

	&__img {
		display: flex;
		justify-content: center;
	}

	&__img-horizontal {
		display: none;
		max-width: 100%;
	}

	&__img-vertical {
		display: block;
		max-width: 372px;
	}

	@media (min-width: 576px) {
		padding: 128px 0;

		&__title {
			h3 {
				font-size: 28px;
			}
		}
	}

	@media (min-width: 768px) {
		&__img-horizontal {
			display: block;
			margin-top: 16px;
		}

		&__img-vertical {
			display: none;
		}
	}

	@media (min-width: 992px) {
		&__title {
			h3 {
				font-size: 40px;
				line-height: 62px;
			}
		}
	}
}

.salary-benefits {
	background-color: $gray04;
	padding: 80px 0;

	&__title {
		color: $title-color;
		display: flex;
		align-items: center;
		padding-bottom: 15px;

		h3 {
			margin-bottom: 0;
			font-size: 24px;
			line-height: 37px;
		}

		svg {
			margin-left: 16px;
		}
	}

	&__text {
		color: $arvan-color04;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 35px;
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__box {
		background-color: white;
		border: 2px solid $arvan-color05;
		border-radius: 10px;
		width: 328px;
		height: 309px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 16px;
	}

	&__box-title {
		color: $title-color;
		padding: 13px 0 13px;
		font-size: 24px;
		font-weight: 600;
	}

	&__box-text {
		color: $dark-red;
		font-size: 18px;
		line-height: 28px;
		padding: 0 40px;
	}

	&__box-img {
		margin-top: 40px;
	}

	@media (min-width: 576px) {
		padding: 128px 0;

		&__title {
			h3 {
				font-size: 28px;
			}
		}
	}

	@media (min-width: 768px) {
		&__title {
			h3 {
				font-size: 40px;
				line-height: 62px;
			}
		}

		&__boxes {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	@media (min-width: 992px) {
		&__boxes {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__box {
			width: calc(33.33% - 12px);
			height: 340px;
		}
	}

	@media (min-width: 1200px) {
		&__box {
			width: calc(33.33% - 26.5px);
			height: 307px;
		}

		&__text {
			margin-bottom: 56px;
		}
	}
}
